---
layout: "base.njk"
---

{% if image %}
  <div class="thumbnail-container">
      <img src="{{ image }}" alt="{{ imageAlt }}">
  </div>
{% endif %}
<article>
    <h1>{{ title }}</h1>
    <div class="post-author">
      by
      <strong>
        {% if author %}
          {{ author }},
        {% else %}
          {{ metadata.author.name }},
        {% endif %}
      </strong>
    <span>{{ date | postDate }}</span>
    </div>
    {{ content | safe }}
</article>
