  <li class="entry">
      <h2>
        <a href="{{ blog.url }}">
        {{ blog.data.title }}
        </a>
      </h2>
      <p>
        {{ blog.data.description }}
      </p>
      <span>{{ blog.date | postDate }}</span>
  </li>