<div>
  <label for="theme">Theme</label>
  <select name="theme" id="theme">
    <option value="system">system</option>
    <option value="light">light</option>
    <option value="dark">dark</option>
  </select>
</div>
